.selector-for-some-widget {
    box-sizing: content-box;
  }
  
 @import 'https://fonts.googleips.com/css?family=Open+Sans';
 header{
     background: #E3CCCC;
     width:100%;
     height:76px;
     position:fixed;
     top:0;
     left:0;
     z-index:100;
    
 }

 ul{
     list-style:none;
 }
 li{
     display:inline-block;
     float:right;
     padding:10px;
 }

 a{
     font-family: 'calibri light';
     color: #ffffff;
     text-decoration: none;
 }

 a:hover{
   background-color:#ffffff;
   text-decoration: underline;
 }

 .intro {
     position:absolute;
     left:0;
     top:0;
     width:100%;
     height:100%;
     margin:auto;
     background:url("../images/img01.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     display:table;
     top:0;
     
 }
 .bkg-img{
     display:table-cell;
     vertical-align:middle;
     width:100%;
     max-width: none;
 }

 .content{
     max-width:500px;
     margin:0 auto;
     text-align: center;
      }

 .content h1{
     color: #F9f3f4;
     font-family: calibri light,san serif;
     text-align: center;
     text-shadow: 0px 0px 300px #000;
     size:500%;
     font-size:400%;
 }

 